{% extends "base.html" %} {% block content %}

<h1>¡Bienvenid@!</h1>
<h6>Estimado usuario,
esta aplicación está pensada con la visión de procesar imágenes aéreas 
capturadas por drones a fin de identificar incendios forestales. 
De momento nos encontramos en una fase inicial donde la aplicación recibe una imagen que debe
ser cargada manualmente, se ejecuta un modelo y se entrega como respuesta:</h6>
<h6>- Fire: si se detecta un incendio en la imagen</h6>
<h6>- No fire: si no se detenca un incendio</h6>


<h2>Seleccione una imagen desde su equipo</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Cargar imagen
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" style="background-color:#FAD502; border-color:#837107; color:#837107" class="btn btn-primary btn-lg" id="btn-predict">Predecir</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>
    
	<div style="clear: both">
    	<h3 id="result"></h3>
    	<h3 id="result2"></h3>
	</div>
	<hr />

</div>

{% endblock %}